*.[oa]
ylwrap
stamp-h1
.deps
Makefile
*~
*.cache
src/freesci
src/sfx/test-iterator
src/tools/bdftofont
src/tools/fonttoc
src/tools/scidisasm
rc/tools/scimusicplayer
src/tools/scipack
src/tools/sciunpack
src/tools/scimusicplayer
config.status
config.h*
config.log

